In [1]:
idade1 = 20
idade2 = 35

soma =idade1 + idade2 
print (soma)

55

In [12]:
idade1 - idade2

-15

In [3]:
idade1 * idade2

700

In [4]:
idade1 / idade2

0.5714285714285714

In [5]:
idade1 + 10

30

In [6]:
idade1 - 15

5

In [7]:
idade1 * 4

80

In [8]:
idade1 / 5

4.0

In [9]:
2 * (idade1 + idade2) #primeiro , depois mutiplica

110

In [10]:
2 * idade1 + 3 * idade2 / 4

66.25

In [11]:
(2 * idade1 + idade2) / 4

18.75

In [ ]:
"""
Parênteses 
Expoente
Multiplição
Divisão
Adição
Subtração
"""

In [13]:
idade1 ** 2

400

In [14]:
idade1 ** 3

8000

In [15]:
idade2 // idade1 #Parte inteira de uma divisãp

1

In [16]:
idade1 / idade2 #Perceba que é diferente o resultado

0.5714285714285714

In [17]:
idade2 % idade1 #Módulo % : indica o resto de uma divisão

15

In [19]:
nome= 'Camila' 
Sobrenome= 'Dantas'

In [20]:
print(nome, Sobrenome)

Camila Dantas

In [21]:
print(nome + Sobrenome)

CamilaDantas

In [22]:
print('Olá,',nome, '\n','você tem', idade1 + 15, 'anos')#E ainda podemos inserir "quebra" na linha: '\n'

Olá, Camila
 você tem 35 anos

In [23]:
idade= input("digite sua idade")

In [24]:
print(idade)

35

In [25]:
type(idade)

str

In [26]:
idade1 = 37 
type(idade2)

int

In [27]:
int(input("digite sua idade"))

35

In [28]:
idade= int(input("Digite sua idade"))

In [29]:
dia= "sexta-feira"
print(dia)

sexta-feira

In [30]:
dia=32.5
print(dia)

32.5

In [31]:
dia= 19

In [32]:
print(dia)

19

In [33]:
x= 12
x+=1
print(x)

13